.secA {
    border-style: solid;
    border: 1px;
    display: inline;
}

h2,
h3,
h6 {
    color: #4A148C;
    text-align: center;
}

p {
    text-align: center;
}

.burung,
.ikan,
.kucing,
.kuda {
    float: left;
    position: relative;
}